
* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}


.navbar {
    text-align: center;
  
    min-width: 600px;
position: relative;
   

}
 nav img {
    filter: hue-rotate(90deg);
}

.navbar ul {
     text-align: center;
    list-style: none;
    margin-left: 10 rem;
    padding: 0;
    display: flex;
    flex-direction: row; 
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-align: right;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 94, 151);
    font-size: 18px;
    position: relative;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: #fd326f;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: -10px;
    transition: 0.3s;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.navbar a:hover:after {
    width: 100%;
    left: 0;
}


.footbar {
    height: 50px;
    width: auto;
    background-color: rgb(203, 88, 88);
    justify-content: center;
}
.body{
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    
}
.wrapper {
    margin-left: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper p{
    font-size: medium;
}
.container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    color: #FF057C;
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 900px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img/1.png');
}
.card[for="c2"] {
    background-image: url('./img/2.png');
}
.card[for="c3"] {
    background-image: url('./img/3.png');
}
.card[for="c4"] {
    background-image: url('./img/4.png');
}
.card[for="c5"] {
    background-image: url('./img/5.png');
}

.card.hovered {
    width: 900px !important;
}

.card.hovered .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card {
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}